/* BOOTSTRAP */
@import "/node_modules/bootstrap/dist/css/bootstrap.css";
/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ---------- GENERAL ---------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
}

.btn:active{
  transform: scale(0.95);
}

/* ---------- HEADER ---------- */
header{
  background-color: orangered;
}

.onboarding .btn{
  font-size: 0.8rem;
}

.onboarding .onboarding-btn{
  background-color: #eee;
}

.onboarding .onboarding-btn:hover{
  background-color: orangered;
}

.navbar .navbar-nav .nav-item .nav-link{
  border-top: 1px solid #fff;
  font-size: 18px;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link.active{
  color: #e6e6e6 !important;
}

@media (min-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
     border: none;
  }
}

/* ---------- MAIN ---------- */
main{
  flex: 1;
}

/* Login page / Sign Up page */
.sing-up-page,
.login-page,
.forgot-password-page{
  margin-top: 100px;
}

.login-page .login-page-content,
.sing-up-page form,
.forgot-password-page .forgot-password-content{
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 40px;
  border-radius: 25px;
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
}

/* Error page */
.error{
  flex: 1;
}

/* Dashboard page */
.card-details{
  background-color: #eee;
}

/* Selected product page */
.selected-product-page .product-details img{
  max-height: 500px;
}

/* Profile page */
.profile-page .profile-page-shipping-details-form{
  width: 75%;
  margin: 0 auto;
}

/* Checkout page */
/* MODAL */
.animation-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.18);
  padding-top: 150px;
}

.animation-modal-content {
  max-width: max-content;
  margin: 0 auto;
  background-color: #fefefe;
}

.animation-modal-content .animation-modal-img img{
  width: 100%;
}


/* OrderHistory page */
/* OrderHistoryListCard component */
table td{
  vertical-align: middle;
}

/* SelectedOrder component */
.selected-order-details .ordered-product-details .ordered-product-details-1 img{
  height: 50px;
}

/* ---------- FOOTER ---------- */
.footer a:hover{
  color: #e6e6e6 !important;
}